body, html {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 520px) {
  .colSideMenu {
    display: none;
  }
  .colMain {
    padding-left: 15px !important;
  }
  .pTitle {
    margin-left: 0px !important;
  }
  section {
    padding-right: 15px !important;
    margin-bottom: 59px !important;
  }
  .colBottom {
    display: block !important;
  }
  .pNav {
    display: none !important;
  }
  .imgEdit {
    margin-top: 0px !important;
  }
  .colProfile {
    margin-bottom: 59px !important;
  }
  .rowProfile {
    text-align: center;
  }
  .divNameStatus {
    justify-content: center !important;
  }
  .pEmail {
    display: block;
  }
}

.colSideMenu {
  background-color: rgb(230, 49, 49);
  border-right: 1px solid rgb(230, 49, 49);
  width: 65px;
  min-width: 65px;
  z-index: 999;
  position: fixed;
  left: 0px;
  height: 100vh;
  transition: all 0.2s;
  box-shadow: 0 2px 16px -6px #cc292f !important;
}

.imgLogoLifeline {
  position: fixed;
  top: 15px;
  width: 40px;
  left: 15px;
  filter: brightness(0) invert(1);
}

.rowSide {
  height: 100vh;
}

.imgProfile {
  border-radius: 50%;
  background-color: transparent;
  width: 40px;
  margin-top: 10px;
}

.lblName {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1rem;
  margin-left: 8px;
  font-weight: 700;
  margin-top: 5px;
  display: none;
}

.imgLogo {
  width: 20px !important;
  margin: 0 auto;
  margin-top: -5px;
  margin-right: 10px;
}

.btn>span {
  display: none;
}

.btnProfile, .btnMembership, .btnPayment, .btnServices, .btnExit, .btnDashboard, .btnNotes {
  font-family: Quicksand;
  color: rgb(255, 255, 255, 0.7);
  font-weight: 500;
  cursor: pointer;
  text-align: left !important;
  height: 45px;
}

.btnProfile:hover, .btnMembership:hover, .btnPayment:hover, .btnServices:hover, .btnExit:hover, .btnDashboard:hover, .btnNotes:hover {
  color: white;
}

.btn {
  border: 0px;
  transition: all 0.2s;
  width: 45px;
  margin-left: -5px;
  margin-top: 5px;
  outline: none !important;
  display: block;
}

.btn:hover {
  background-color: rgb( 184, 57, 57);
  border-radius: 8px;
}

.btn:hover>img {
  filter: brightness(0) invert(1);
}

.btnExit {
  position: fixed;
  bottom: 20px;
  left: 18px;
}

.divNav {
  position: fixed;
  top: 0px;
  height: 65px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ECEFF1;
  z-index: 9;
  box-shadow: 0 2px 10px -6px #cc292f !important;
}

.pTitle {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 70px;
  margin-top: 20px;
}

.divNav {
  background-color: white;
}

.pGreetings {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 700;
  font-size: 0.9rem;
}

.pName {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: -15px;
}

.dropdown-profile {
  background-color: transparent !important;
  outline: none !important;
  background-color: #fff transparent !important;
  margin-top: 20px;
}

.dropdown-toggle::after {
  color: #3b3b66 !important;
  font-size: 1.5rem;
}

.btn:focus, .btn:active, .dropdown-profile:focus, .dropdown-profile:active {
  outline: none !important;
  box-shadow: none !important;
}

.btnRight {
  position: absolute;
  top: 40%;
  left: 50px;
  background-color: white;
  box-shadow: 0 2px 18px -6px #3b3b66 !important;
  border-radius: 50%;
  width: 38px;
}

.btnRight:hover {
  border-radius: 50%;
  box-shadow: 0 2px 18px -6px #cc292f !important;
}

.imgRight {
  width: 14px !important;
}

.divBox {
  border-left: 2px solid rgb( 184, 57, 57);
  padding-left: 10px;
}

.pBoxTitle {
  font-family: Quicksand;
  color: #757575;
  font-size: 0.9rem;
  font-weight: 500;
}

.pBoxTitleResult {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: -10px;
}

main {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  margin-top: 40px;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '';
}

label[for*='2']:before {
  content: '';
}

label[for*='3']:before {
  content: '';
}

label:hover {
  color: #757575;
  cursor: pointer;
}

input:checked+label {
  color: #3b3b66;
  border: 1px solid #ddd;
  border-top: 2px solid #cc292f;
  border-bottom: 1px solid #fff;
}

#tab1:checked~#content1, #tab2:checked~#content2, #tab3:checked~#content3, #tab4:checked~#content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0px;
}

th {
  font-family: Quicksand;
  color: #757575;
  font-size: 0.9rem !important;
  background: transparent;
  font-weight: 500 !important;
  border: 0px;
}

th {
  font-family: Quicksand;
  padding-left: 10px;
}

td {
  font-family: Quicksand;
  color: #3b3b66;
  padding: 15px 10px;
  text-align: left;
  font-weight: 500;
  border: 0px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  transition: all 0.1s;
}

tr:hover {
  border-left: 2px solid #cc292f;
  box-shadow: 0 2px 10px -6px #757575;
}

thead:hover>tr {
  background-color: white !important;
  box-shadow: none !important;
  border: 0px !important;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 35%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 15px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}

.statusPending {
  color: #fdb486 !important;
}

.statusPaid {
  color: #368bd4 !important;
}

.statusFailed {
  color: #ff799a !important;
}

/* Membership */

.pNav {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 700;
  font-size: 1.9rem;
}

.pNumber {
  font-family: Quicksand;
  color: #616161;
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: 10px;
}


.btnTag {
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  padding: 4px 10px;
}

.btnTagList {
  font-family: Quicksand;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #3b3b66;
  border: 1px solid #616161;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px 15px;
  outline: none !important;
  transition: all 0.2s;
}

.pSorted {
  font-family: Quicksand;
  color: #616161;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 15px;
}

.pSorted>span {
  color: #cc292f;
}

.btnAdd {
  font-family: Quicksand;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #3b3b66;
  box-shadow: 0 2px 16px -6px #3b3b66 !important;
  border-radius: 5px;
  border: 0px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.card {
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  border: 2px solid #cc292f;
}

.card-body {
  padding-bottom: 0px;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}

.card-title {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
}

.card-text {
  font-family: Quicksand;
  color: #616161;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pDateCard {
  font-family: Quicksand;
  color: #9E9E9E;
  font-size: 0.8rem;
  font-weight: 500;
}

.pTagsCard {
  font-family: Quicksand;
  color: #f33a3a;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.pMembership {
  font-family: Quicksand;
  color: #f33a3a;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 5px
}

.pServices {
  font-family: Quicksand;
  color: #aa3af3;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 5px
}

.pPayments {
  font-family: Quicksand;
  color: #f68136;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 5px
}

.btnNotes1 {
  background-color: white;
  border: 2px solid #3b3b66;
  background-color: #3b3b66;
  border-radius: 50%;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  padding-bottom: 5px;
  transition: all 0.2s;
}

.btnNotes1:hover {
  background-color: white;
}

.btnNotes1:hover>img {
  filter: brightness(1) invert(1);
}

.btnBack {
  margin-top: -5px;
}

.pTitleNotes {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1.5rem;
  font-weight: 700;
}

.pDateTag {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 5px;
}

.rowTextarea {
  padding-right: 20px;
}

textarea {
  font-family: Quicksand;
  color: #424242;
  font-size: 0.9rem;
  font-weight: 500;
  border: 0px;
  width: 100%;
  height: 67vh;
  white-space: pre-wrap;
}

.pAllNotes {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2;
  font-weight: 500;
}

.imgProfilePic {
  width: 70px;
  border-radius: 50% !important;
  box-shadow: 0 2px 16px -6px #212121 !important;
}

.pNameProfile {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 10px;
}

.pEmail {
  font-family: Quicksand;
  color: #616161;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: -15px;
  margin-left: 5px;
}

.pStatus {
  font-family: Quicksand;
  color: #cc292f;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(204, 41, 47, 0.1);
  width: max-content;
  padding: 2px 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.pAllergies {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 0.9rem;
  font-weight: 700;
}

.pAllergens {
  font-family: Quicksand;
  color: #616161;
  font-size: 0.9rem;
  margin-top: 10px;
}

.rowProfile {
  width: 100%;
  margin-top: 20px;
}

.pHeaderProfile {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 500;
  font-size: 1rem;
}

.hrProfile {
  background-color: white !important;
}

.pTitleProfile {
  font-family: Quicksand;
  color: #616161;
  font-size: 0.9rem;
  font-weight: 500;
}

.pTitleResult {
  font-family: Quicksand;
  color: #616161;
  font-size: 0.9rem;
}

.pStatusProfile {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 700;
  font-size: 0.9rem;
  margin-right: 10px;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-header {
  border: 0px !important;
}

.modal {
  border: 0px;
}

.modal-title {
  font-family: Quicksand;
  color: #3b3b66;
  font-weight: 700;
  font-size: 1.4rem;
  border: 0px;
}

.close {
  display: none;
}

.colModal {
  width: auto;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 10px;
}

.colModal:hover {
  box-shadow: 0 2px 16px -6px #212121 !important;
}

.pChoose {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1rem;
  font-weight: 500;
}

.colModal>img {
  padding: 20px 20px;
}

.txtTitle {
  font-family: Quicksand;
  color: #3b3b66;
  font-size: 1.5rem;
  font-weight: 700;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
}

input[type='checkbox']+label {
  position: relative;
  display: flex;
  margin: .6em 0;
  align-items: center;
  color: #9e9e9e;
  transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']+label>ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']+label>ins>i {
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: #4FC3F7;
}

input[type='checkbox']+label>span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']+label:hover, input[type='checkbox']:focus+label {
  color: #fff;
}

input[type='checkbox']+label:hover>span, input[type='checkbox']:focus+label>span {
  background: rgba(255, 255, 255, .1);
}

input[type='checkbox']:checked+label>ins {
  height: 100%;
}

input[type='checkbox']:checked+label>span {
  border: .5em solid #FFEB3B;
  animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']:checked+label>span:before {
  content: "";
  position: absolute;
  top: .6em;
  left: .2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .2em;
    height: .5em;
    border-color: #212121;
    transform: translate3d(0, -.5em, 0) rotate(45deg);
  }
}

.colBottom {
  position: fixed;
  bottom: 0px;
  background-color: #cc292f;
  padding: 15px 15px;
  z-index: 9999999999999999;
  margin-left: 0px;
  display: none;
  -webkit-box-shadow: 0px -8px 23px -6px rgba(204, 41, 47, 0.5);
  -moz-box-shadow: 0px -8px 23px -6px rgba(204, 41, 47, 0.5);
  box-shadow: 0px -8px 23px -6px rgba(204, 41, 47, 0.5);
}